wildfly-configuration:
    subsystem:
        datasources:
          jdbc-driver:
            {{ jdbc_driver_name }}:
                driver-name: "{{ jdbc_driver_module_name }}"
                driver-xa-datasource-class-name: "{{ jdbc_driver_classname }}"
                driver-module-name: "{{ jdbc_driver_module_name }}"
          data-source:
            {{ mariadb_ds_name }} :
              enabled: true
              jndi-name: "{{ mariadb_jndi_name }}"
              jta: true
              max-pool-size: 20
              min-pool-size: 0
              connection-url: "{{ mariadb_connection_url }}"
              driver-name: "{{ jdbc_driver_name }}"
              use-java-context: true
